#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  position: relative;
  height: 80vh;
  border: 1px solid rgba(136, 136, 136, 0.075);
}

.current-date-display {
  position: absolute;
  top: 0;
  right: 0;
}

.add-todo-button {
  position: relative;
  min-width: 25%;
  margin: auto;
  margin-top: 5vh;
  height: 10vh;
  border-radius: 5px;
  z-index: 20;
  background-color: #343434;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.add-todo-button:hover {
  cursor: pointer;
  background-color: #444444;
}

.add-todo-modal {
  width: 80vw;
  height: 70vh;
  background-color: rgb(26, 26, 26);
  z-index: 10;
}

#addTodoModal {
  visibility: visible;
  z-index: 20;
}

.commit-todo-button {
  margin-top: 1vh;
  border: 1px solid green;
  z-index: 20;
}

.commit-todo-button:hover {
  background-color: green;
  cursor: pointer;
  z-index: 20;
}

.cancel-todo-button {
  margin-top: 1vh;
  border: 1px solid red;
  z-index: 20;
}

.cancel-todo-button:hover {
  background-color: red;
  cursor: pointer;
  z-index: 20;
}


.todo-list-container {
  margin-top: 10vh;
  width: 80vw;
  height: 50vh;
  border: 1px solid rgba(255, 192, 203, 0);
}

.todo-item {
  position: relative;
  width: 80vw;
  min-height: 5vh;
  border: 1px solid rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.253);
  z-index: inherit;
  box-shadow: rgba(0, 0, 0, 0.349) 0px 3px 3px 0px;
  margin-bottom: 1vh;
}

.todo-header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding-left: 5%;
}

.todo-due-date {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-right: 5%;
}

.todo-description {
  margin-top: 10%;
  font-size: small;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
